<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coeurderoses.cdrnotes">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Here the code to forbid the keyboard to push the element in layout over him in the top way
       soft input mode mean virtual keyboard adjustResize mean to change dimensions of elements and adapt them-->
        <activity android:name=".note_detail"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">


            <!-- Here the code to activate a back button in the toolbar of note_detail-->
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>

    </application>

</manifest>